- content_for :head do
  %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no"}
  %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
  %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
  = render 'index_js'
    
#columns
  #tworgies
    %h2 Your Tworgy list
    - if twitterer?
      %ul#location_list
        - current_user.tworgies.each do |tworgy|
          %li.tworgy
            = check_box tworgy.id, tworgy.name
            %span{:ref => tworgy.id}= tworgy.slug
      %p
        %a#addList{:href => '#'} Add list
      %fieldset#fieldsAddList.tworgy
        - semantic_form_for @tworgy do |f|
          - f.inputs do
            = f.input :name, :input_html => {:maxlength => 20, :size => 20}
            = f.input :add_yourself, :as => :boolean
            = f.input :follow_list, :as => :boolean
          - f.buttons do
            = f.commit_button 
    - else
      - semantic_form_for UserSession.new, :url => user_session_path do |f|
        = oauth_login_button :value => "Login with Twitter"
  %fieldset#map
    %p
      %form{:onsubmit => 'return false;'}
        %label Find a location:
        %input#inputAddress{:type => 'text', :value => '', :size => 60}
        %input#findAddress{:type => 'submit', :value => 'Find'}

    #map_canvas{:style => "width:auto; height:400px; margin:20px 0px;"}
  %p
    %b Marker Status
    %span#markerStatus
  %p 
    %b Marker Position
    %span#markerPosition
  %p
    %b Marker Address
    %span#markerAddress


#dialogSetMarker{:title => "Mark location of "}
  %p
    %label Name
    %input{:type => 'text'}
  %p
    %input{:type => 'submit', :value => 'create tworgy'}
  

