!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/css; charset=utf-8"}
    %title= yield(:title) || App[:name]
    = stylesheet_link_tag 'formtastic', 'formtastic_changes', 'jquery-ui-1.7.2.custom', 'main'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'Jaml-all', 'application'
    = yield(:head)
  %body{:onload => (yield(:body_onload) || ''), :class => "#{params[:controller]}_#{params[:action]}"}
    #container
      #header
        = render :partial => 'shared/user_bar'
        %h1= App[:name]
      .site
        #side
          = yield(:side)
        #main
          %h1= yield(:heading)
          %flash
            %notice= flash[:notice] unless flash[:notice].blank?
            %error= flash[:error] unless flash[:error].blank?
          = yield
    #footer
