!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/css; charset=utf-8"}
    %title= yield(:title) || App[:name]
    = stylesheet_link_tag 'formtastic', 'formtastic_changes'
    %script{:type => "text/javascript", :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"}
    = yield(:head)
  %body{:onload => (yield(:body_onload) || '')}
    #container
      #header
        = render :partial => 'shared/user_bar'
        %h1= App[:name]
      .site
        #side
          = yield(:side)
        #main
          %h1= yield(:heading)
          %flash
            %notice= flash[:notice] unless flash[:notice].blank?
            %error= flash[:error] unless flash[:error].blank?
          = yield
    #footer
